.my-card {
  box-shadow: var(--shadow);
  min-width: 300px;
  flex: 1;
  margin: 2rem;
}

.my-card p {
  margin: 0rem;
  font-size: 1rem;
}

.ant-card-head-title {
  margin: 0rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  /* width: 90%; */
  /* flex-wrap: wrap; */
}
